:root {
  font-family: Inter, Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #222831;
  --secondary-color: #393E46;
  --tertiary-color: #00ADB5;
}

a {
  font-weight: 500;
  color: #4FD1D9;
  text-decoration: inherit;
}
a:hover {
  color: #00f2ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body.barrel-roll {
  animation: barrel-roll 1s ease-in-out;
  overflow: hidden;
}

@keyframes barrel-roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  outline: 2px solid #5b6370;
}
button.secondary{
  background-color: var(--tertiary-color);
  color: white;
}
button.secondary:hover{
  outline: 2px solid #1e848b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--primary-color);

    
    --primary-color: #F9F7F7;
    --secondary-color: #DBE2EF;
    --tertiary-color: #3F72AF;
  }
  /*a:hover {
    color: #747bff;
  }*/
  a {
    color: #2F5D9A;
  }
  a:hover {
    color: #5A8FD6;
  }


  button {
    background-color: var(--secondary-color);
  }
  button.secondary{
    background-color: var(--tertiary-color);
    color: white;
  }
  button:hover {
    outline: 2px solid #98acd1;
  }
  button.secondary:hover{
    outline: 2px solid #2b4d77;
  }
}
