:root {
  font-family: Inter, Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #222831;
  --secondary-color: #393E46;
  --tertiary-color: #00ADB5;
}

a {
  font-weight: 500;
  /*color: #4FD1D9;*/
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  /*color: #00f2ff;*/
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#home.barrel-roll {
  animation: barrel-roll 1s ease-in-out;
  overflow: hidden;
}

@keyframes barrel-roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /*outline: 2px solid #5b6370;*/
  outline: 2px solid var(--button-hover-outline);
}
button.secondary{
  background-color: var(--tertiary-color);
  color: white;
}
button.secondary:hover{
  /*outline: 2px solid #1e848b;*/
  outline: 2px solid var(--button-secondary-hover-outline);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root[data-theme='light'] {
  color: #213547;
  background-color: var(--primary-color);

  
  --primary-color: #F9F7F7;
  --secondary-color: #DBE2EF;
  --tertiary-color: #3F72AF;
  --link-color: #2F5D9A;
  --link-hover-color: #5A8FD6;
  --button-hover-outline: #98acd1;
  --button-secondary-hover-outline: #2b4d77;
  --text-color: #213547;
}
:root[data-theme='dark'] {
  color: #E1E1E1;
  background-color: var(--primary-color);

  --primary-color: #222831;
  --secondary-color: #393E46;
  --tertiary-color: #00ADB5;
  --link-color: #4FD1D9;
  --link-hover-color: #00f2ff;
  --button-hover-outline: #5b6370;
  --button-secondary-hover-outline: #1e848b;
  --text-color: #E1E1E1;
}

html {
    transition: background-color 0.5s ease, color 0.5s ease;
}