#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.info {
  color: #888;
  margin: 0;
}

.name {
  cursor: pointer;
  margin: 0;
  margin-bottom: 0.75rem;
}

.name-and-role{
  margin-top: 1rem;
}

.role {
  margin: 0;
  font-weight: normal;
  color: var(--text-secondary-color);
}

.title{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.25rem;
}

.title-with-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.vertical-nav{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.nav button{
  width: 150px;
}

.social-media{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-media a svg{
  width: 32px;
  height: 32px;
  fill: currentColor;
}

/* Top Menu Styles */

.top-menu{
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 0px;
  width: 100%;
  background-color: var(--secondary-color);
}

.right-menu{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

/* Navigation Styles */

.nav a{
  text-decoration: none;
  color: inherit;
}

.nav button{
  color: inherit
}

.nav .link-button{
  width: 150px;
}

.desktop-nav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

/* Hamburger Menu Styles */

.hamburger-nav{
  position: absolute;
  top: 4rem;
  right: 1rem;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hamburger-wrapper{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .hamburger-wrapper {
    display: none;
  }
  .hamburger-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop-nav {
    display: none;
  }
}

/* Home Button Styles */
.home-button{
  display: flex;
  align-content: center;
  color: inherit;
  text-decoration: none;
  position: relative;
  margin-left: 1rem;
}

.home-icon{
  color: inherit;
}

/* Theme Toggle Button Styles */
.theme-toggle{
  padding: 0;
  width: 100%;
  height: 100%;
}

.theme-toggle__classic {
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

.theme-toggle-wrapper{
  width: 46px;
  height: 46px;
  margin-right: 1rem;
}

.theme-toggle:hover{
  outline: none;
}

.footer{
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.875rem;
  color: #666;
}

.footer a{
  margin-left: 0.75rem;
}