button{
    color: var(--text-color);
}

input {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--button-hover-outline);
}

textarea {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--button-hover-outline);
}

.spacer {
    display: block;
    height: 20rem;
}