.project-card{
    background-color: var(--secondary-color);
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease;
}

/* Hover effect for devices that support hover 
   Removed to not imply interactivity where there is none*/
/*@media (hover: hover) and (pointer: fine) {
  .project-card:hover {
    transform: scale(1.03);
  }
}*/


.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 500px));
    grid-gap: 40px;
}

.project-image {
    width: 100%;
    height: 180px;
    margin-top: 1em;
    object-fit: contain;
    overflow: hidden;
}

.project-content {
    flex-grow: 1;
}

.project-description{
    margin-bottom: 0;
}

.project-link {
    display: inline-block;
    padding: 0px 0.8em;
    color: var(--link-color);
    text-decoration: none;
    font-weight: 500;
}

.project-link:hover {
    outline: none;
    color: var(--link-hover-color);
}

.project-links {
    margin-top: 0.6em;
    border-top: 1px solid var(--text-color);
    display: flex;
    gap: 1em;
    justify-content: center;
}

.tag{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 0.2em 0.6em;
    border-radius: 6px;
    font-size: 0.8em;
    margin-left: 0.4em;
    margin-top: 0.6em;
    transition: background-color 0.2s ease;
}

.tags{
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 1299px) {
    .projects-grid {
        grid-template-columns: repeat(3, minmax(auto, 500px));
    }
}

@media (max-width: 976px) {
    .projects-grid {
        grid-template-columns: repeat(2, minmax(auto, 500px));
    }
}

@media (max-width: 600px) {
    .projects-grid {
        grid-template-columns: repeat(1, minmax(auto, 500px));
    }
}